.container {
  width: 100%;
  max-width: 900px;
  margin: auto;
  text-align: center;
}

h1{
  font-size: 24px;
  font-weight: 100;
  color: #3e396b;
}

.subject{
  padding: 0 150px;
  font-size: 28px;
  line-height: 1.3;
  margin: 40px 0;
  color: #3e396b;
}

.vote-summary {
  background: #fcfcfc;
  -webkit-box-shadow: 2px 1px 5px 4px rgba(237,237,237,1);
  -moz-box-shadow: 2px 1px 5px 4px rgba(237,237,237,1);
  box-shadow: 2px 1px 5px 4px rgba(237,237,237,1);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.vote-summary > div{
  text-align: center;
}

.vote-summary-title {
  font-size: 14px;
  color: #d5d5d5;
  text-transform: uppercase;
  margin-bottom: 30px;
}

a, button {
  border-radius: 3px;
  border: none;
  background: #ebebeb;
  padding: 15px 0;
  margin: 15px 40px;
  display: inline-block;
  font-size: 14px;
  min-width: 150px;
  cursor: pointer;
  outline: none;
}

a:hover, button:hover{
  background: #d7d7d7;
}

.yes {
   background-color: #30d7a9;
   color: #fff;
}

.yes:hover, .yes:active {
  background-color: #30eab6;
}

.no {
   background-color: #ef8338;
   color: #fff;
}

.no:hover, .no:active {
  background-color: #ff974f;
}

.your-vote{
  font-size: 24px;
  color: #6b618e;
}

.vote-actions{
  display: flex;
  justify-content: center;
}

.small-value {
  font-weight: 200;
  font-size: 14px;
  margin: 10px auto;
}

.small-value.link{
  color: deepskyblue;
  background: transparent;
  padding: 0;
  margin-top: 0;
}

.small-title{
  font-size: 14px;
  font-weight: 600;
  margin: 10px auto;
}

table {
  max-width: 450px;
  width: 100%;
  margin: 30px auto;
  font-weight: 100;
  font-size: 14px;
}

tr {
  height: 40px;
}

th {
  text-transform: uppercase;
  color: #a0a0a0;
  font-weight: 100;
  text-align: center;
}

td{
  font-weight: 400;
}

td.vote {
  text-transform: capitalize;
}

td.yes{
  color: #30d7a9;
  background: transparent;
}

td.no{
  color: #ef8338;
  background: transparent;
}
